NF3.2/eleccions.dtd

<!ELEMENT eleccions (descripcio, dades, resultats)>
<!ELEMENT descripcio (#PCDATA)>
<!ELEMENT dades (data, cens, abstencio, blancs)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT cens (#PCDATA)>
<!ELEMENT abstencio (#PCDATA)>
<!ELEMENT blancs (#PCDATA)>
<!ELEMENT resultats (candidat+)>
<!ELEMENT candidat (nom, vots)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT vots (#PCDATA)>